﻿@model Business.ViewModels.ProductViewModelForAdmin
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model != null)
{
<div class="page-title">
    <div class="title_left">
        <h3> Sản phẩm: @Model.ProductName</h3>
    </div>
    <div style="float: right">
        <a class="btn btn-default" style="background-color: #73879C; color: white" href="@Url.Action("Index")">Trở vê trang trước</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <br />
                @using (Html.BeginForm("UpdateProduct", "ProductManagement", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <input type="text" hidden="hidden" value="@Model.ProductID" name="ProductID" />
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Tên sản phẩm</label>
                        <div class="col-md-6 col-sm-9 col-xs-9">
                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Loại</label>
                        <div class="col-md-6 col-sm-9 col-xs-9">
                            @Html.Action("CategoryList", "List", new { CatID = Model.CategoryID })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Loại con</label>
                        <div class="col-md-6 col-sm-9 col-xs-9">
                            @Html.Action("SubCategoryList", "List", new { SubCatID = Model.SubCategoryID })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Nhà sản xuất</label>
                        <div class="col-md-6 col-sm-9 col-xs-9">
                            @Html.Action("ProducerList", "List", new { ProducerID = Model.ProducerID })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Số lượng</label>
                        <div class="col-md-6 col-sm-9 col-xs-9">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Đơn giá</label>
                        <div class="col-md-6 col-sm-9 col-xs-9">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Ngày cập nhật</label>
                        <div class="col-md-6 col-sm-9 col-xs-9">
                            @Html.TextBoxFor(model => model.UploadDate, "{0:MM-dd-yyyy}", new { @class = "form-control datepicker" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Mô tả</label>
                        <div class="col-md-7 col-sm-9 col-xs-9">
                            <textarea id="editor" name="Description">@Model.Description</textarea>
                            <script type="text/javascript">CKEDITOR.replace("editor");</script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Hình ảnh</label>
                        <div class="col-md-7 col-sm-9 col-xs-9">
                            <a class="btn btn-default" href="@Url.Action("Gallery", new { ProID = Model.ProductID})">Xem hình ảnh sản phẩm</a>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-primary" id="bcancel">Cancel</button>                  
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

}
@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: "mm-dd-yy"
        });

        $('#bcancel').click(function () {
            $('<div></div>').appendTo('body')
            .html('<div><h6>Bạn có muốn huỷ bỏ những thay đổi?</h6></div>')
            .dialog({
                modal: true,
                title: 'Xác nhận',
                zIndex: 10000,
                autoOpen: true,
                width: '250px',
                resizable: false,
                buttons: {
                    Yes: function () {
                        location.reload();
                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });

        });

        $('#CategoryID').change(function () {
            $(this).find(":selected").each(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("AjaxGetSub")',
                    data: {
                        CatID: $(this).val()
                    },
                    success: function (result) {
                        var subID = $('#SubCategoryID');
                        subID.empty();
                        $(result).each(function () {
                            $(document.createElement('option'))
                                .attr('value', this.SubCategoryID)
                                .text(this.SubCategoryName)
                                .appendTo(subID);
                        });
                    }
                });
            });
        });
    });
</script>
}
