﻿@model RRShop.Models.LoginViewModel

@{

}

<div class="main-container col1-layout">
    @*Start Link Previous*@
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li class="home">
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                    <span></span>
                </li>

                <li class="category3">
                    <strong>Đăng nhập</strong>
                </li>
            </ul>
        </div>
    </div>
    @*End Link Previous*@

    <div class="container">
        <div class="main">
            <div class="col-main">
                <div class="account-login">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="col2-set">
                                <div class="col-1 new-users">
                                    <div class="content">
                                        <h2>Khách hàng mới</h2>

                                        <p>
                                            Vui lòng nhấn vào nút đăng ký để đăng ký tài khoản mới vào trang web của chúng tôi.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-2 registered-users">
                                    <div class="content">
                                        <h2>Khách hàng</h2>

                                        <p>Nếu đã có tài khoản, vui lòng đăng nhập ở đây.</p>

                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <ul class="form-list">
                                            <li>
                                                <label for="email" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Email)</label>

                                                <div class="input-box">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </li>

                                            <li>
                                                <label for="password" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Password)</label>

                                                <div class="input-box">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </li>

                                            <li>
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col2-set">
                                <div class="col-1 new-users">
                                    <div class="buttons-set">
                                        <a href="@Url.Action("Register", "Account")" class="button"><span><span>Đăng ký</span></span></a>
                                    </div>
                                </div>

                                <div class="col-2 registered-users">
                                    <div class="buttons-set">
                                        @*<p style="float: left"> @Html.ActionLink("Forgot your password?", "ForgotPassword") </p>*@
                                        <button type="submit" class="button"><span><span>Đăng nhập</span></span></button>
                                    </div>
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                }
                       </section>
                    </div>
                    <div class="col-md-4">
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>
                </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}