﻿@model RRShop.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col1-layout">
    @*Start Link Previous*@
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li class="home">
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                    <span></span>
                </li>

                <li class="category3">
                    <strong>Đăng ký</strong>
                </li>
            </ul>
        </div>
    </div>
    @*End Link Previous*@

    <div class="container">
        <div class="main">
            <div class="col-main">
                <div class="account-create">
                    <div class="fieldset">
                        <h2 class="legend">Đăng ký tài khoản</h2>

                        <p>
                            Nếu bạn đã có tài khoản, vui lòng đăng nhập

                            @Html.ActionLink("Tại đây", "Login", "Account", null, new { @style = "text-decoration: none;" })
                        </p>

                        <p>
                            <b>Lưu ý:</b> <span class="required">*</span> là những thông tin bắt buộc, phải điền đầy đủ.
                        </p>
                    </div>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "form-register" }))
                    {
                        @Html.AntiForgeryToken()

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="fieldset">
                            <h2 class="legend">Thông tin tài khoản</h2>
                            <ul class="form-list">
                                <li>
                                    <label for="email_address" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Email)</label>

                                    <div class="input-box">
                                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })

                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </li>

                                <li class="fields">
                                    <div class="field">
                                        <label for="password" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Password)</label>

                                        <div class="input-box">
                                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })

                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label for="confirmation" class="required"><em>*</em>@Html.DisplayNameFor(m => m.ConfirmPassword)</label>

                                        <div class="input-box">
                                            @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })

                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="fieldset">
                            <h2 class="legend">Thông tin cá nhân</h2>
                            <ul class="form-list">
                                <li class="fields">
                                    <label for="name" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Name)</label>

                                    <div class="input-box">
                                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })

                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                    </div>
                                </li>

                                <li class="fields">
                                    <div class="field">
                                        <label for="phone_number" class="required"><em>*</em>@Html.DisplayNameFor(m => m.PhoneNumber)</label>

                                        <div class="input-box">
                                            @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })

                                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label for="personal_identity" class="required"><em>*</em>@Html.DisplayNameFor(m => m.PersonalIdentity)</label>

                                        <div class="input-box">
                                            @Html.EditorFor(m => m.PersonalIdentity, new { htmlAttributes = new { @class = "form-control" } })

                                            @Html.ValidationMessageFor(m => m.PersonalIdentity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </li>

                                <li class="control">
                                    <div class="field">
                                        <label for="gender" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Gender)</label>

                                        <div class="input-box">
                                            @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>()
                                            {
                                                new SelectListItem() {Value = "true", Text = "Nam", Selected = true },
                                                new SelectListItem() {Value = "false", Text = "Nữ" }
                                            }, new { @class = "ui dropdown selection" })
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label for="date_of_birth" class="required"><em>*</em>@Html.DisplayNameFor(m => m.DateOfBirth)</label>

                                        <div class="input-box">
                                            @Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker" } })

                                            @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <label for="address" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Address)</label>

                                    <div class="input-box">
                                        @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control" } })

                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                    </div>
                                </li>

                                <li>
                                    <div class="g-recaptcha" data-sitekey="6LeEQCMTAAAAAFqh5v_hsKHdr_ziR_omN2Z8Q5MV"></div>

                                    <br />

                                    <span class="text-danger field-validation-valid" id="captcha-message"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="buttons-set">
                            <button id="btn-register" type="submit" class="button"><span><span>Đăng ký</span></span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
        $("#btn-register").on("click", function (e) {
            e.preventDefault();
            var $this = $(this);
            $.post("@Url.Action("Confirm", "CaptchaApi")", { Response: $("[name=g-recaptcha-response]").val() }, function (data) {
                if (!data.success) {
                    $("#captcha-message").text("Vui lòng kiểm tra captcha.");
                } else {
                    $("#form-register").submit();
                }
            });
        });
    </script>
}
