﻿@model RRShop.Models.InformationViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-container col2-left-layout">
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-left sidebar col-xs-12 col-sm-3">
                    <div class="block block-account">
                        <div class="block-title">
                            <strong><span>Danh mục</span></strong>
                        </div>

                        <div class="block-content">
                            <ul>
                                <li class="current"><strong>Thông tin cá nhân</strong></li>
                                <li><a href="">Danh sách yêu thích</a></li>
                                <li><a href="">Lịch sử giao dịch</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-main col-xs-12 col-sm-9">
                    <div class="my-account">
                        <div class="dashboard">
                            @*<div class="welcome-msg">
                                    <p class="hello"><strong>Hello, dsaf sadf!</strong></p>
                                    <p>Từ mục "tài khoản của tôi" bạn có khả năng xem hoạt động tài khoản gần đây của bạn và cập nhật thông tin tài khoản của bạn. Chọn một liên kết dưới đây để xem hoặc chỉnh sửa thông tin.</p>
                                </div>*@

                            <div class="box-account box-info">
                                <div class="box-head">
                                    <h2>Thông tin cá nhân</h2>
                                </div>

                                <div class="col2-set">
                                    <dl class="dl-horizontal">
                                        <dt>@Html.DisplayNameFor(model => model.Name)</dt>

                                        <dd>@Html.DisplayFor(model => model.Name)</dd>

                                        <dt>@Html.DisplayNameFor(model => model.PersonalIdentity)</dt>

                                        <dd>@Html.DisplayFor(model => model.PersonalIdentity)</dd>

                                        <dt>@Html.DisplayNameFor(model => model.Gender)</dt>

                                        <dd>
                                            @{
                                                string gender = Model.Gender ? "Nam" : "Nữ";
                                            }

                                            @Html.DisplayFor(model => gender)
                                        </dd>

                                        <dt>@Html.DisplayNameFor(model => model.Email)</dt>

                                        <dd>@Html.DisplayFor(model => model.Email)</dd>

                                        <dt>@Html.DisplayNameFor(model => model.DateOfBirth)</dt>

                                        <dd>
                                            @{
                                                string date = Model.DateOfBirth.ToShortDateString();
                                            }

                                            @Html.DisplayFor(model => date)
                                        </dd>

                                        <dt>@Html.DisplayNameFor(model => model.Address)</dt>

                                        <dd>@Html.DisplayFor(model => model.Address)</dd>

                                        <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>

                                        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                                    </dl>

                                    <div class="buttons-set" id="btnSubmit">
                                        <a href="@Url.Action("ChangeInformation", "Manage")" class="button"><span><span>Thay đổi thông tin</span></span></a>
                                        <a href="@Url.Action("ChangePassword", "Manage")" class="button"><span><span>Thay đổi mật khẩu</span></span></a>
                                    </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
