﻿@model IEnumerable<Connection.Producer>

@{
    Layout = null;
}

<div class="col-md-5">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr class="headings">
                    <th class="column-title">ID </th>
                    <th class="column-title">Tên nhà sản xuất </th>

                    <th class="column-title no-link last">
                        <span class="nobr">Action</span>
                    </th>
                    <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
            {
                    <tr class="even pointer">
                        <td>@item.ProducerID</td>
                        <td id="@String.Format("lbProducerName{0}", item.ProducerID)">@item.ProducerName</td>
                        <td class="last">
                            <a href="#" data-toggle="modal" data-target="@String.Format("#DetailProducerID{0}", item.ProducerID)">Chi tiết</a>

                            <div class="modal fade" id="@String.Format("DetailProducerID{0}", item.ProducerID)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Nhà sản xuất</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table" border="0">
                                                <tr>
                                                    <td valign="middle" style="width: 30%">Tên nhà sản xuất:</td>
                                                    <td style="width: 30%">
                                                        <input type="text" id="@String.Format("txtProducerName{0}", item.ProducerID)" name="" class="form-control" value="@item.ProducerName" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <a id="@String.Format("btnUpdateProducer{0}", item.ProducerID)" data-ProducerID="@item.ProducerID" class="btn btn-default">
                                                            Cập nhật
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            /
                            <a style="cursor:pointer" id="@String.Format("DelProducerID{0}", item.ProducerID)" data-ProducerID="@item.ProducerID">Xoá</a> / 
                            <a style="cursor:pointer" id="@String.Format("LogoProducerID{0}", item.ProducerID)" 
                               data-ProducerID="@item.ProducerID"
                               data-LogoProducer="@item.Logo"
                               data-ProducerName="@item.ProducerName">Hình ảnh</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <input class="form-control text-box single-line"
               id="NewProducerName" type="text" placeholder="Tên nhà sản xuất mới" value="">
        <br />
        <button type="button" id="btnAddProducer" class="btn btn-success">Thêm mới</button>
    </div>
</div>

<div id="viewProducerLogo" class="col-md-6 col-md-offset-1" style="border: 1px solid #e5e5e5; height: 100%" hidden>
    <h2 id="ProducerNametitle"></h2>
    <div class="thumbnail">
        <div class="image view view-first" style="height: 180px">
            <img id="imgLogo" style="width: 100%; height: 100%; display: block;" src="" alt="Chưa có logo" />
            @*<div class="mask">
                <div class="tools tools-bottom">
                    <a style="cursor:pointer"><i class="fa fa-pencil"></i></a>
                    <a style="cursor:pointer"><i class="fa fa-times"></i></a>
                </div>
            </div>*@
        </div>
    </div>
    <input id="fileInputLogo" type="file" class="fileUpload"
           style="width:300px;" name="Files"><br />
    <input type="button" id="uploadLogo" class="btn btn-success" data-CatID="" value="Upload logo" />
</div>