﻿@model PetaPoco.Page<Connection.Comment>
@using Microsoft.AspNet.Identity
@using System.Security.Claims

@{
    Layout = null;
}

<div class="product-tabs-content" id="product_tabs_product_additional_data_contents" style="display: none;">
    <div class="box-collateral box-reviews row" id="customer-reviews">
        <div class="ma-review-col1 col-xs-12 col-sm-12 col-md-8">
            <div class="ui comments">
                @foreach (var item in Model.Items)
                {
                    <div class="comment">
                        <div class="content">
                            <a class="author" title="Tên người dùng">@item.Name</a>

                            <div class="metadata">
                                <span class="date" title="Ngày đăng">@item.PostedDate</span>
                            </div>

                            <div class="text">
                                @item._Comment
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (Model.TotalPages > 1)
            {
                <div class="toolbar-bottom">
                    <div class="toolbar">
                        <ul class="paging">
                            @if (Model.CurrentPage > 1)
                            {
                                <li>
                                    <a class="prev" data-page="@(Model.CurrentPage - 1)"></a>
                                </li>
                            }

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li>
                                    @if (i != Model.CurrentPage)
                                    {
                                        <a tag="@i">@i</a>
                                    }
                                    else
                                    {
                                        <a class="current" tag="@i">@i</a>
                                    }
                                </li>
                            }

                            @if (Model.CurrentPage < Model.TotalPages)
                            {
                                <li>
                                    <a class="next" data-page="@(Model.CurrentPage + 1)"></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>

        <div class="ma-review-col2 col-xs-12 col-sm-12 col-md-4">
            <div class="form-add">
                <h2>Viết bình luận của bạn</h2>

                <fieldset>
                    <h3>Bạn đang xem sản phẩm: <span>@ViewBag.ProName</span></h3>

                    <ul class="form-list">
                        <li style="@(Request.IsAuthenticated ? "display: none;" : "")">
                            <label for="nickname_field" class="required"><em>*</em>Tên</label>
                            <div class="input-box">
                                <input type="text" name="nickname" id="nickname" class="input-text required-entry"
                                       value="@(Request.IsAuthenticated ? ((ClaimsIdentity)User.Identity).FindFirst("RealName").Value : "")"
                                       data-val-required="Tên không được bỏ trống" />
                                <br />
                                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="nickname"></span>
                            </div>
                        </li>

                        <li>
                            <label for="review_field" class="required"><em>*</em>Nội dung</label>
                            <div class="input-box">
                                <textarea style="width: 100%; resize: none;" name="comment" id="comment" cols="5" rows="3" class="required-entry"
                                          data-val-required="Nội dung không được bỏ trống"></textarea>
                                <br />
                                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="comment"></span>
                            </div>
                        </li>
                    </ul>
                </fieldset>
                <div class="buttons-set">
                    <button id="btnComment" data-proId="@ViewBag.ProId" type="button" title="Đăng bình luận" class="button">
                        <span><span>Bình luận</span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>