﻿@model PetaPoco.Page<Business.ViewModels.CartProductViewModels>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col1-layout">
    @*Start Link Previous*@
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li class="home">
                    <a href="@Url.Action("Index", "Home")" title="Về trang chủ">Trang chủ</a>
                    <span></span>
                </li>

                @*Start Category Name*@
                <li class="category1">
                    <strong>Giỏ hàng</strong>
                </li>
                @*End Category Name*@
            </ul>
        </div>
    </div>
    @*End Link Previous*@

    <div class="container">
        <div class="main">
            <div class="col-main cart">
                @*<div class="page-title">
                        <h1>Giỏ hàng</h1>
                    </div>*@

                @if (ViewBag.Cart.CartTotal == 0)
                {
                    //Start Empty Cart Message
                    <div class="cart-empty">
                        <p>Bạn không có sản phẩm nào trong giỏ hàng.</p>

                        <p><a class="button btn-back" href="@Url.Action("Index", "Home")">TRỞ VỀ CỬA HÀNG</a></p>
                    </div>
                    //End Empty Cart Message
                }
                else
                {
                    //Start Product List
                    <form action="@Url.Action("RemoveAllCart", "ShoppingCart")" method="post">
                        <input name="form_key" type="hidden" value="Ln6F9wgBguuLdjrS" />
                        <fieldset>
                            <table id="shopping-cart-table" class="data-table cart-table">
                                <colgroup>
                                    <col width="1" />
                                    <col />
                                    <col width="2" />
                                    <col />
                                    <col width="2" />
                                    <col width="1" />
                                </colgroup>

                                <thead>
                                    <tr>
                                        <th rowspan="1">Hình</th>
                                        <th rowspan="1"><span class="nobr">Tên sản phẩm</span></th>
                                        <th class="a-center" colspan="1"><span class="nobr">Giá</span></th>
                                        <th rowspan="1" class="a-center">Số lượng</th>
                                        <th class="a-center" colspan="1">Tổng cộng</th>
                                        <th rowspan="1" class="a-center"></th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>
                                        <td colspan="50" class="a-center">
                                            <button type="button" class="button btn-continue">
                                                <span><span>Tiếp tục mua hàng</span></span>
                                            </button>

                                            @*Start Paging*@
                                            @if (Model.TotalPages > 1)
                                            {
                                                <ul class="cart-paging">
                                                    @if (Model.CurrentPage > 1)
                                                    {
                                                        <li>
                                                            <a class="prev" href="@Url.Action("Index", "ShoppingCart", new { page = Model.CurrentPage - 1 })"></a>
                                                        </li>
                                                    }

                                                    @for (int i = 1; i <= Model.TotalPages; i++)
                                                    {
                                                        <li>
                                                            @if (i != Model.CurrentPage)
                                                            {
                                                                <a href="@Url.Action("Index", "ShoppingCart", new { page = i })">@i</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="current">@i</a>
                                                            }
                                                        </li>
                                                    }

                                                    @if (Model.CurrentPage < Model.TotalPages)
                                                    {
                                                        <li>
                                                            <a class="next" href="@Url.Action("Index", "ShoppingCart", new { page = Model.CurrentPage + 1 })"></a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                            @*End Paging*@

                                            <button type="button" name="update_cart_action" value="empty_cart" class="button btn-empty" id="empty_cart_button">
                                                <span><span>Xóa giỏ hàng</span></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    @foreach (var element in Model.Items)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })" class="product-image">
                                                    <img src="@(element.Images.Count > 0 ? element.Images[0].Link : "/images/no-image/268.jpg")" />
                                                </a>
                                            </td>

                                            <td>
                                                <h2 class="product-name">
                                                    <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })">
                                                        @element.ProductName
                                                    </a>
                                                </h2>
                                            </td>

                                            <td class="unitPrice">
                                                <span class="cart-price">
                                                    <span class="price">
                                                        @(element.SalePrice == 0 ? element.Price.ToString("##,#") : element.SalePrice.ToString("##,#"))
                                                    </span>
                                                </span>
                                            </td>

                                            @*inclusive price starts here*@
                                            <td class="a-center unitQuantity">
                                                <div class="qty-spinner" data-proId="@element.ProductID">
                                                    <button type="button" class="btn-decrease">&#8211;</button>

                                                    <input name="cart" value="@element.Quantity" size="4" class="input-text qty" maxlength="4" max="@element.RealQuantity" />

                                                    <button type="button" class="btn-increase">+</button>
                                                </div>
                                            </td>

                                            @*Sub total starts here*@
                                            <td class="">
                                                <span class="cart-price">
                                                    <span class="price">
                                                        @(((element.SalePrice == 0 ? element.Price : element.SalePrice) * element.Quantity).ToString("##,#"))
                                                    </span>
                                                </span>
                                            </td>

                                            <td class="a-center">
                                                <a class="btn-remove2" data-proId="@element.ProductID"></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </fieldset>
                    </form>
                    //End Product List

                    <div class="cart-collaterals">
                        <div class="totals">
                            <table id="shopping-cart-totals-table">
                                <colgroup>
                                    <col />
                                    <col width="1" />
                                </colgroup>
                                <tfoot>
                                    <tr id="total">
                                        <td style="" class="a-left" colspan="1">
                                            <strong>Thành tiền</strong>
                                        </td>
                                        <td style="" class="a-right">
                                            <strong><span class="price"><span>@ViewBag.Cart.Total.ToString("##,#")</span> VNĐ</span></strong>
                                        </td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    <tr id="subTotal">
                                        <td style="" class="a-left" colspan="1">
                                            Tổng cộng
                                        </td>
                                        <td style="" class="a-right">
                                            <span class="price"><span>@ViewBag.Cart.Total.ToString("##,#")</span> VNĐ</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <form action="@Url.Action("Checkout", "ShoppingCart")" method="get">
                                <ul class="checkout-types">
                                    <li>
                                        <button type="submit" class="button btn-proceed-checkout btn-checkout">
                                            <span><span>Thanh toán</span></span>
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/myJS/spinner.js"></script>
    <script src="~/Scripts/myJS/ajaxCartShop.js"></script>
}