﻿@model List<Business.ViewModels.ProductViewModels>

@{
    Layout = null;
    int i = 1;
}

<div class="ma-timer-container">
    <div class="ma-timer-title modul-title1"><h2>Sản phẩm nổi bật</h2></div>
    <div class="row">
        <div class="col-sm-2 col-sms-12">
            <ul class="thumb">
                @for (int index = 0; index < Model.Count; i++)
                {
                    <li class="thumb@(i)  active @(i != 0 ? "" : "first")" data-owl="@i">
                        @if (Model[i].Quantity == 0)
                        {
                            <img src="~/images/notification/soldout.png" class="soldOut" />
                        }
                        <img src="@(Model[i].Images.Count > 0 ? Model[i].Images[0].Link : "/images/no-image/268.jpg")" />
                    </li>
                }
            </ul>
        </div>

        <div class="col-sm-10 col-sms-12">
            <div class="modul-tab-content">
                <div class="owl">
                    @foreach (var element in Model)
                    {
                        <div class='timer-item'>
                            <div class="timer_product">
                                <div class="box-timer">
                                    <div id="heading@(i)" style="color:#FFFFFF;clear: both;"></div>
                                    <div class="countbox_@(i) timer-grid"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-sms-6 col-smb-12">
                                        <div class="des-container">
                                            <h2 class="product-name">
                                                <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })">
                                                    @element.ProductName
                                                </a>
                                            </h2>

                                            @*<div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:73%"></div>
                                                    </div>
                                                    <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo4plazathemes.com/19/ma_flaton/index.php/review/product/list/id/2/'; return false;">1 Review(s)</a></span>
                                                </div>*@

                                            <div class="ma-desc">

                                            </div>

                                            <div class="price-box">
                                                <p class="old-price">
                                                    <span class="price">@element.Price.ToString("##,#")</span>
                                                </p>

                                                <p class="special-price">
                                                    <span class="price">@element.SalePrice.ToString("##,#")</span>
                                                </p>
                                            </div>

                                            <div class="actions">
                                                <button type="button" class="button btn-cart" data-proId="@element.ProductID" @(element.Quantity == 0 ? "disabled" : "")>
                                                    <span><span>Thêm vào giỏ hàng</span></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-sms-6 col-smb-12">
                                        <div class="images-container">
                                            <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })" class="product-image">
                                                <img src="@(element.Images.Count > 0 ? element.Images[0].Link : "/images/no-image/268.jpg")" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>