﻿@model List<Business.ViewModels.ProductViewModels>

@{
    Layout = null;
    int count = 0;
    int countX2 = 0;
    bool isSale = false;
}

<div id="producttab_featured" class="tab ">
    <div class="mage-products">
        <div class="owl-container">
            <div class="producttabs-products-owl">
                @while (count < Model.Count)
                {
                    countX2 = count + 2 <= Model.Count ? count + 2 : Model.Count;

                    <div class='item'>
                        @for (var i = count; i < countX2; i++)
                        {
                            isSale = Model[i].SalePrice == 0 ? false : true;

                            <div class="item-inner">
                                <div class="images-container">
                                    <a href="@Url.Action("Detail", "Product", new { id = Model[i].ProductID, name = Model[i].RouteName })" class="product-image">
                                        @if (Model[i].Quantity == 0)
                                        {
                                            <img src="~/images/notification/soldout.png" class="soldOut" />
                                        }
                                        <img src="@(Model[i].Images.Count > 0 ? Model[i].Images[0].Link : "/images/no-image/268.jpg")" />
                                    </a>

                                    <div class="actions">
                                        <ul class="add-to-links">
                                            <li>
                                                <a class="link-wishlist">
                                                    <em class="tooltip">Yêu thích</em>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="price-box @(!isSale ? "box-regular" : "box-special")">
                                        @if (isSale)
                                        {
                                            <p class="special-price">
                                                <span class="price">@(Model[i].SalePrice.ToString("##,#"))</span>
                                            </p>
                                        }

                                        <p class="@(!isSale ? "regular-price" : "old-price")">
                                            <span class="price">@(Model[i].Price.ToString("##,#"))</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="des-container">
                                    <h2 class="product-name">
                                        <a href="@Url.Action("Detail", "Product", new { id = Model[i].ProductID, name = Model[i].RouteName })">
                                            @Model[i].ProductName
                                        </a>
                                    </h2>

                                    <button type="button" class="button btn-cart" data-proId="@Model[i].ProductID" @(Model[i].Quantity == 0 ? "disabled" : "")>
                                        <span><span>Thêm vào giỏ hàng</span></span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>

                    count += 2;
                }
            </div>
        </div>
    </div>
</div>
