﻿@model RRShop.Models.ApplicationUser
@{
    ViewBag.Title = "Change Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="main">
        <div class="col-main">
            <div class="my-account">
                @using (Html.BeginForm("ChangeInformation", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="page-title">
                        <h2>@ViewBag.Title</h2>
                    </div>

                    <hr />

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="fieldset">
                        <h2 class="legend">Thông tin tài khoản</h2>

                        <ul class="form-list">
                            <li class="fields">
                                <label for="name" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Name)</label>

                                <div class="input-box">
                                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </li>

                            <li class="fields">
                                <div class="field">
                                    <label for="phone_number" class="required"><em>*</em>@Html.DisplayNameFor(m => m.PhoneNumber)</label>

                                    <div class="input-box">
                                        @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })

                                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="personal_identity" class="required"><em>*</em>@Html.DisplayNameFor(m => m.PersonalIdentity)</label>

                                    <div class="input-box">
                                        @Html.EditorFor(m => m.PersonalIdentity, new { htmlAttributes = new { @class = "form-control" } })

                                        @Html.ValidationMessageFor(m => m.PersonalIdentity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>

                            <li class="control">
                                <div class="field">
                                    <label for="gender" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Gender)</label>

                                    <div class="input-box">
                                        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>()
                                            {
                                                new SelectListItem() {Value = "true", Text = "Nam", Selected = true },
                                                new SelectListItem() {Value = "false", Text = "Nữ" }
                                            }, new { @class = "ui dropdown selection" })
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="date_of_birth" class="required"><em>*</em>@Html.DisplayNameFor(m => m.DateOfBirth)</label>

                                    <div class="input-box">
                                        @Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker" } })

                                        @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </li>

                            <li>
                                <label for="address" class="required"><em>*</em>@Html.DisplayNameFor(m => m.Address)</label>

                                <div class="input-box">
                                    @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="buttons-set">
                        <button type="submit" class="button"><span><span>Thay đổi</span></span></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
