﻿@model RRShop.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container">
    <div class="main">
        <div class="col-main">
            <div class="my-account">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="page-title">
                        <h2>@ViewBag.Title</h2>
                    </div>
                    <hr />

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="fieldset">
                        <h2 class="legend">Thông tin mật khẩu</h2>

                        <ul class="form-list">
                            <li>
                                <label for="email_address" class="required"><em>*</em>@Html.DisplayNameFor(m => m.OldPassword)</label>
                                <div class="input-box">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </li>

                            <li>
                                <label for="email_address" class="required"><em>*</em>@Html.DisplayNameFor(m => m.NewPassword)</label>
                                <div class="input-box">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </li>

                            <li>
                                <label for="email_address" class="required"><em>*</em>@Html.DisplayNameFor(m => m.ConfirmPassword)</label>
                                <div class="input-box">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="buttons-set">
                        <button type="submit" class="button"><span><span>Thay đổi</span></span></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
