﻿@model IEnumerable<Business.ViewModels.CategoryViewModels>

@{
    Layout = null;
    bool isFirst = true;
}

@foreach (var element in Model)
{
    <li class="@(!isFirst ? "" : "first")">
        <a href="@Url.Action("Cat", "Category", new { id = element.CategoryID, name = element.RouteName })">
            @element.CategoryName
        </a>
    </li>

    if (isFirst)
    {
        isFirst = false;
    }
}

<li><a href="@Url.Action("Index", "Sale")">khuyến mãi</a></li>

@*<li class="first"><a href="http://demo4plazathemes.com/19/ma_flaton/index.php/customer/account/">My Account</a></li>
    <li><a href="http://demo4plazathemes.com/19/ma_flaton/index.php/customer/account/login/">login</a></li>
    <li><a href="http://demo4plazathemes.com/19/ma_flaton/index.php/checkout/cart/">my cart</a></li>
    <li><a href="http://demo4plazathemes.com/19/ma_flaton/index.php/wishlist/index/index/">wishlist</a></li>
    <li class="last"><a href="http://demo4plazathemes.com/19/ma_flaton/index.php/checkout/cart/">checkout</a></li>*@