﻿body {
    font-size: 12px;
    font-family: open-sans;
    font-weight: 400;
    color: #000;
    text-align: left;
    background: #fff;
}

/*===page-not-found==*/
.page-not-found {
    position: relative;
    text-align: center;
    color: #fff;
}

    .page-not-found .page-title h1 {
        font-size: 48px;
        color: #373737;
    }

    .page-not-found .back-home {
        display: block;
        text-align: center;
    }

        .page-not-found .back-home a {
            display: inline-block;
            border: 1px solid #ddd;
            line-height: 26px;
            padding: 5px 25px;
            border-radius: 20px;
            color: #3f3f3f;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
        }

            .page-not-found .back-home a:hover {
                border-color: #46a3b0;
                color: #46a3b0;
            }

    .page-not-found .page-content {
        margin-top: 50px;
    }

        .page-not-found .page-content .title-note {
            background: #404040;
        }

            .page-not-found .page-content .title-note h1 {
                line-height: 43px;
                padding: 10px;
                color: #fff;
                text-transform: capitalize;
                font-size: 36px;
                margin: 0;
            }

        .page-not-found .page-content .des-container {
            text-align: left;
            padding: 30px 0 50px;
            border-top: 1px solid #e5e5e5;
        }

    .page-not-found img {
        display: inline-block !important;
    }
/*===============================*/
