﻿@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans/OpenSans-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Normal'), local('OpenSans-Normal'), url(/fonts/opensans/OpenSans-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/fonts/opensans/OpenSans-Semibold.ttf) format('ttf');
}

@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/opensans/OpenSans-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(/fonts/opensans/OpenSans-ExtraBold.ttf) format('ttf');
}

@font-face {
    font-family: 'open-sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans LightItalic'), local('OpenSans-LightItalic'), url(/fonts/opensans/OpenSans-LightItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'open-sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans NormalItalic'), local('OpenSans-NormalItalic'), url(/fonts/opensans/OpenSans-Italic.ttf) format('ttf');
}

@font-face {
    font-family: 'open-sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBoldItalic'), local('OpenSans-SemiBoldItalic'), url(/fonts/opensans/OpenSans-SemiboldItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'open-sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans BoldItalic'), local('OpenSans-BoldItalic'), url(/fonts/opensans/OpenSans-BoldItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'open-sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBoldItalic'), local('OpenSans-ExtraBoldItalic'), url(/fonts/opensans/OpenSans-ExtraBoldItalic.ttf) format('ttf');
}