.block-testimonial-sidebar{}
.block-testimonial-sidebar .block-content {
    padding: 5px 9px;
}
.block-testimonial-sidebar .testimonial-sidebar-content a{text-decoration:none; color:#222222;}
.block-testimonial-sidebar .testimonial-sidebar-content .testimonial-author {
	font-size: 12px;
	font-style: normal;
	color: #0A233C;
	text-align: right;
	display: block;
	font-weight: bold;
}
.testimonial-date {
	font-size: 10px;
	text-align: right;
	display: block;
	font-weight: bold;
}