﻿@model List<Business.ViewModels.ProductViewModels>

@{
    Layout = null;

    bool isSaled = false;
}

<div class="ma-upsellslider-container">
    <div class="ma-upsellslider-title modul-title1"><h2>Sản phẩm cùng nhà sản xuất</h2></div>
    <div class="owl-container">
        <div class="owl">
            @foreach (var element in Model)
            {
                isSaled = element.SalePrice == 0 ? false : true;

                <div class='ma-upsellslider-item item'>
                    <div class="item-inner">
                        <div class="images-container">
                            <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })" class="product-image">
                                @if (element.Quantity == 0)
                                {
                                    <img src="~/images/notification/soldout.png" class="soldOut" />
                                }
                                <img src="@(element.Images.Count > 0 ? element.Images[0].Link : "/images/no-image/268.jpg")" />
                            </a>

                            <div class="actions">
                                <ul class="add-to-links">
                                    <li>
                                        <a class="link-wishlist">
                                            <em class="tooltip">Yêu thích</em>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="price-box @(!isSaled ? "box-regular" : "box-special")">
                                @if (isSaled)
                                {
                                    <p class="special-price">
                                        <span class="price">@element.SalePrice.ToString("##,#")</span>
                                    </p>
                                }

                                <p class="@(!isSaled ? "regular-price" : "old-price")">
                                    <span class="price">@element.Price.ToString("##,#")</span>
                                </p>
                            </div>
                        </div>

                        <div class="des-container">
                            <h3 class="product-name">
                                <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })">
                                    @element.ProductName
                                </a>
                            </h3>

                            <button type="button" class="button btn-cart" data-proId="@element.ProductID" @(element.Quantity == 0 ? "disabled" : "")>
                                <span><span>Thêm vào giỏ hàng</span></span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
